@import '~antd/dist/antd.css';

.webSiteName {
  color: #fff;
  float: left;
  margin-right: 30px;
  cursor: pointer;
}
.site-layout-content {
  /* background: #fff; */
  background-color: #364d79;
  /* padding: 24px; */
  min-height: calc(100vh - 64px);
}
.ant-layout-footer {
  padding: 10px 50px;
}
